body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  transform: scale(1.4);
}

main{
  color: rgb(255, 107, 132);
  background-color: rgb(24, 26, 26);
  height: 100vh;
  border-color: rgb(255, 107, 132);
}

.maxheight{
  /* max-height: 50vh; */
  overflow: hidden;
}

.toastimg{
  max-width: 50px;
}


  
@media (max-width: 1000px){
  
  main{
    height: fit-content;
  }

  .livesback{
    color: rgb(24, 26, 26);
    background-color: rgb(255, 107, 132);
    padding:  2px;
    border-color: crimson;
    border-width: 1px;
    border-style: solid;
    
  }

.mobilehidden{
  max-width: 0px;
}

.mobilebutton{
  font-size: 15px;
}

.mobilecard{
  margin-bottom: 150px;
}

}
